<section id="about" class="about">
  <div class="container">

    <div class="row">
      <div class="col-lg-6">
        <img src="<%= asset_path("about.jpg") %>" class="img-fluid" alt="">
      </div>
      <div class="col-lg-6 pt-4 pt-lg-0">
        <h3>About Us</h3>
        <p>
        	Onairdream is comprised of global travel specialists, offering comprehensive travel solutions with competitive rates and superior service.Be it a family holiday, a cruise, or just flight and hotel bookings,Onairdream is a preferred choice of millions of highly satisfied customers.
        </p>
        <ul>
          <li><i class="bx bx-check-double"></i> Onairdream provides the traveler with high-end travel support services.</li>
          <li><i class="bx bx-check-double"></i> Onairdream also provide the reservation and ticketing of airline seats.</li>
        </ul>
        <div class="row icon-boxes">
          <div class="col-md-6">
            <i class="bx bx-receipt"></i>
            <h4>Corporis voluptates sit</h4>
            <p>Consequuntur sunt aut quasi enim aliquam quae harum pariatur laboris nisi ut aliquip</p>
          </div>
          <div class="col-md-6 mt-4 mt-md-0">
            <i class="bx bx-cube-alt"></i>
            <h4>Ullamco laboris nisi</h4>
            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</section><!-- End About Section -->