<section id="what-we-do" class="what-we-do">
  <div class="container">

    <div class="section-title">
      <h2 alt="why book with on air dream">Our Services</h2>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
        <div class="icon-box">
          <div class="icon">
          	<span class="iconify" data-icon="ic:outline-airplane-ticket"></span>
          </div>
          <h4><a href="">Convenient Ticket Booking</a></h4>
          <p>Making your booking Easy through numerous deals on flight tickets to India.</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
        <div class="icon-box">
          <div class="icon">
          	<span class="iconify" data-icon="ph:student"></span>
          </div>
          <h4><a href="">Special offers for Students</a></h4>
          <p>Special offers for students with discount schemes on various flights to India</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
        <div class="icon-box">
          <div class="icon">
          	<span class="iconify" data-icon="ic:outline-support-agent"></span>
          </div>
          <h4><a href="">24/7 Customer Care</a></h4>
          <p>Get award-winning service and special deals by calling +91-9646612142</p>
          <!-- <p>Our destination experts are explorers with experience and we are committed to delivering memorable tours for families, couples, friends travelers.</p> -->
        </div>
      </div>

    </div>

  </div>
</section><!-- End What We Do Section -->