<section id="services" class="services section-bg">
  <div class="container">

    <div class="section-title">
      <h2>Why Choose Us</h2>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="icon-box">
          <i class="bx bxs-plane-alt"></i>
          <h4><a href="#">Fly with us</a></h4>
          <p>Who choose to fly with us you can book your flight tickets at reasonable prices with ease and we guarantee you to offer the best in the market.</p>
        </div>
      </div>
      <div class="col-md-6 mt-4 mt-lg-0">
        <div class="icon-box">
          <i class="bx bx-money"></i>
          <h4><a href="#">Best Price</a></h4>
          <p>Best Prices Guaranteed. We are committed to excellence, honesty, & integrity Exclusive Offers for your travel, hotels. You will enjoy your travel at ease and peace with our 24x7x365 fast services.</p>
        </div>
      </div>
      <div class="col-md-6 mt-4">
        <div class="icon-box">
          <i class="bx bx-credit-card"></i>
          <h4><a href="#">Safe & Secure Payment</a></h4>
          <p>All transactions should be secured with the <a href="javascript:void(0)">SSL</a> protocol. Using SSL helps to encrypt the information so that card details and all other sensitive data are protected.</p>
        </div>
      </div>
      <div class="col-md-6 mt-4">
        <div class="icon-box">
          <i class="bx bx-support"></i>
          <h4><a href="#">Experts</a></h4>
          <p>We ARE America’s Travel Experts. We have experts in our business on every vacation and destination. We can find out everything you need to know.</p>
        </div>
      </div>

<!--       <div class="col-md-6 mt-4">
        <div class="icon-box">
          <i class="bi bi-brightness-high"></i>
          <h4><a href="#">Magni Dolore</a></h4>
          <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque</p>
        </div>
      </div>
      <div class="col-md-6 mt-4">
        <div class="icon-box">
          <i class="bi bi-calendar4-week"></i>
          <h4><a href="#">Eiusmod Tempor</a></h4>
          <p>Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi</p>
        </div>
      </div>
    </div>
 -->
  </div>
</section><!-- End Services Section -->
