<div class="business-class">
	<img src="<%= asset_path('business-class.jpg') %>" alt="On air dream business class flights" width="100%" height="100%">
</div>
<main id="main">
	<section id="business_class" class="">
	  <div class="container">
	  	<div class="row col-md-12">
	  		<h1 class="heading">Business <span>Class</span></h1>
		  	<div class="col-md-7">
		  		<div class="detail">
		  			<p>
		  				If you are thinking of flying Business Class then you must explore our flight deals.<br>Whether you’re traveling a short distance or long distance, Business Class flights, geared to your comfort and convenience, make long-distance travel a breeze.<br>It will refresh your frayed nerves.
		  			</p><br>

		  			<p>
		  				Our dedicated travel specialists work directly with all major airlines to secure discounts on first and business class flights. No matter where you want to go, we can find business class deals to take you there. How do we do it? Business Class ensures the greatest possible value for your travel by negotiating lower prices on available seats and matching those seats to your schedule and budget for business class tickets.
		  			</p><br>

		  			<p>
		  				No matter the location, our travel professionals can get you there comfortably. We always guarantee an efficient and straightforward process on securing business classflight deals so our travelers’ experience with us is seamless.
		  			</p><br>

		  			<p>
		  				Loosen that tie, recline your seat, and chill with the latest magazine and refreshments from the trolley. Perhaps take in a film or listen to some soothing music from your reclining chair. Our business class deals allow you to take it easy and get some hard-earned rest so that you’re ready to make the best impression upon arrival at your destination. We appreciate that your time is valuable, so we take the stress out of booking, using our knowledge and extensive range of flight options.
		  			</p><br>

		  			<p>
		  				If you are looking for Business Class tickets To India at the lowest price then you have come to the right place. We at Onairdream have the best and most extensive deals on Business Class Flights To India that will comfortably fit within your budget. <br>Onairdream is associated with all the leading airline carriers so we can offer you the best possible experience that you deserve no matter what budget you have.
		  			</p><br>

		  			<p>
		  				Grabbing our Business Class flight deals will not lighten your wallet. In business class, you can fly like royalty. You will get access to the business class lounge, besides being offered drinks, snacks, newspapers and internet facilities. The kind of hospitality you get traveling Business Class is simply breathtaking. Onboard, you will be plied with drinks and delicious meals with exotic wines.
		  			</p>
		  		</div>
		  	</div>

		  	<div class="col-md-5">
		  		<img src="<%= asset_path('business-class-side.jpg') %>" alt="On air dream business class flights" width="100%" height="fit-content">
		  	</div>
	  	</div>
	  </div>
	</section>
</main>