<div class="business-class" style="padding-top: 12vh;">
	<img src="<%= asset_path('flights.jpg') %>" alt="On air dream business class flights" width="100%" height="100%">
</div>

<main id="main">
	<section id="business_class" class="">
	  <div class="container">
	  	<div class="row col-md-12">
	  		<h1 class="heading">Flights to <span>India</span></h1>
		  	<div class="col-md-12">
		  		<div class="detail">
		  			<p>
		  				India is a prominent and highly sought-after destination for international tourists. A lot of people from the USA visit India to explore its vibrant culture and rich history. Therefore, flights from the USA to India are in high demand. The first part of planning a trip to India is to look for cheap flight tickets for USA to India international flights that aren’t too heavy on the pockets.OnAirDream helps travelers find affordable flight tickets to destinations from all over the world. If you want to visit India, you can rely on OnAirDream to provide you with the cheapest and affordable flight tickets from USA to India the most reliable options.
		  			</p><br>
		  			<p>
		  				Come and experience India by booking your flights with OnAirDream. You can call us to get the best deals for cheap flights to India. OnAirDream has years of experience and hence can get you the best deal. Book cheap flights to India and get exclusive fares to different locations in your budget. Simply call one of our executives and they will be happy to help you.
		  			</p><br>
		  			<p>
		  				OnAirDream guarantees flights to India at the lowest airfares from USA, be it for a family get-together or tour purposes.We understand the struggles involved in booking USA to India flights, We also provide you one-on-one flight-booking assistance for India to USA flight bookings. Our travel experts are available all throughout the day to help you resolve your queries and doubts regarding USA-India flights. Our payment solutions are also secure and you don’t have to worry a bit before trusting us with your hard-earned money.
		  			</p><br>
		  			<p>
		  				India is a country whose heart beats with a magnificent blend of people, geographies, and traditions. Even after leaving India; the experiences, emotions, and memories will remain forever in your hearts and mind. So, what are you waiting for? Make your reservations on cheap flights to India from USA right away!
		  			</p><br>
		  			<p>
		  				India is a land of culture and immense diversity. Every part of the country has its own magnificence to offer to the visitors. If you wish to explore this country and want to make the most of your trip, you need to have a proper itinerary planned before visiting. USA to India international flights are available to all the major cities of the country, including New Delhi, Mumbai, Chennai, Kochi, Chandigarh , Amritsar, etc.
		  			</p><br>
		  			<p>
		  				You can visit India to explore its breathtaking beauty and geographical wonders. Make it a point to visit various historical sites in the country and learn about its embellished past. A trip to India is going to a life-changing experience since you’ll be immersed in a culture of respect, harmony, and coexistence.
		  			</p>
		  		</div>
		  	</div>
		  </div>
	  	<div class="row col-md-12">
	  		<h1 class="heading">Cheap Flights <span>USA to India</span></h1>
	  		<div class="row col-md-12">
	  			<% ['Atlanta','Chicago','New York','Dallas','Denver', 'Los Angeles','Tempa','San Diego',
	  				'Charlotte','Las Vegas','Phoenix','Orlando','Seattle','Miami','Houston','Fort Lauderdale',
	  				'San Francisco','Minneapolis','Detroit','Boston','Salt Lake City','Philadelphia','Baltimore',
	  				'Nashville','Washington DC','Austin','Portland','St. Louis','San Jose','Oakland','San Antonio',
	  				'Kansas City','Raleigh Durham','Indiana Polis','Cincinnati','Pittsburgh','Bradley'].each do |city| %>
			  		<div class="col-md-3">
			  			<i class="bx bxs-plane-take-off"></i>
			  			<a href="tel:9646612142" alt="Cheap Flights <%= city %> to India">Flights <%= city %> to India</a>
			  		</div>
		  		<% end %>
	  		</div>
	  	</div>
		</div>
	</section>
</main>
