<div class="business-class" style="padding-top: 10vh;">
	<img src="<%= asset_path('watch.jpg') %>" alt="On air dream business class flights" width="100%" height="100%">
</div>

<main id="main">
	<section id="business_class" class="">
	  <div class="container">
	  	<div class="row col-md-12">
	  		<h1 class="heading">Last Minute <span>Flights</span></h1>
		  	<div class="col-md-7">
		  		<div class="detail">
		  			<p>
		  				Looking for some urgent and fascinating last minute flight deals? Onairdream welcomes you in your venture. You are at the exact time and place you need to be to find all the answers to your mind boggling worries about the trip that has just come up on your mind out of nowhere.
		  			</p><br>

		  			<p>
		  				Sometime we have to bear with unplanned journey. In this case last minute flights are the only option for you. In simple words last minute flights are the flights that you can book at the last moment. Airlines understand your problems and try to take care of your convenience. The same problem can be happen if you have planned an instant holiday. But don’t worry you will get last minute flights USA at reasonable rates.
		  			</p><br>

		  			<p>
		  				We all know how stressful emergency flights can be. Too much to pack, too much to think about the presentation that needs to be worked on, and too much hassle accounts for a lot of burden hanging over one’s head.<br>If it’s topped with the pressure of finding cheap last minute flights to India, the brain might erupt like a volcano. But not with OnAirDream! With us as the perfect solution to your “best travel agency near me” searches, you only need to breathe in and breathe out while we apply our hacks to find you the best available option that will make you save big! 
		  			</p><br>

		  			<p>
		  				Everyone is busy today and doesn’t have the time to look up flight rates on different sites and compare them. Most of us have tons of things to do but very little time to book our flight. This results in paying more for last minute flights to USA. This is a very common problem and it can be a real challenge if you don’t know how to go through it.
		  			</p><br>

		  			<p>
		  				These experts have software that predicts whether the fares for a flight on a particular route will fall or remain the same in a given period. This is a great tool to help you decide if you should go ahead and buy the tickets or not. Flexibility on your departure date and time is something that all the experts will recommend because you will be able to get a last minute offer without any fuss.
		  			</p>
		  		</div>
		  	</div>
		  	<div class="col-md-5">
		  		<img src="<%= asset_path('watch-yellow.jpg') %>" alt="On air dream business class flights" width="100%" height="fit-content">
		  	</div>
		  </div>
		</div>
	</section>
</main>
