<div class="business-class">
	<img src="<%= asset_path('win.jpg') %>" alt="On air dream business class flights" width="100%" height="100%">
</div>

<main id="main">
	<section id="business_class" class="">
	  <div class="container">
	  	<div class="row col-md-12">
	  		<h1 class="heading">Win a Cash <span>Coming Soon!</span></h1>
		  	<div class="col-md-7">
		  		<div class="detail">
		  		</div>
		  	</div>
		  	<div class="col-md-5">
		  	</div>
		  </div>
		</div>
	</section>
</main>
